<?xml version="1.0"?>
<model>
  <name>x500-D435</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Mohamed Abdelkader</name>
    <email>mohamedashraf123@gmail.com</email>
  </author>
  <description>Model of the NXP HoverGames Drone development kit (KIT-HGDRONEK66) with Intel Reaslense D435.</description>
</model>
